name: Test CI

on:
  push:
    branches:
      - master
      - "feature/**"
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: digdag
          POSTGRES_USER: digdag
          POSTGRES_PASSWORD: digdag
          POSTGRES_INITDB_ARGS: "--auth-host password --auth-local password"

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Test with Gradle
        run: ./gradlew test
        env:
          PG_LOCK_HOST: localhost
          PG_LOCK_PORT: 5432
          PG_LOCK_DATABASE: digdag
          PG_LOCK_USER: digdag
          PG_LOCK_PASSWORD: digdag
